{%  extends '_layout.twig' %}
{% block main %}
<!-- Page Header -->
    {% set image = entry.pageImage.first() %}
<header class="masthead" style="background-image: url('{{ image.url }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Brian Johnston</h1>
                    <span class="subheading">The way to get started is to quit talking and begin doing.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                {%  for entry in craft.entries.section('blog').limit(10).all() %}
                <a href="{{entry.url}}">
                    <h2 class="post-title">
                       {{entry.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{entry.blogIntro}}
                    </h3>
                </a>
                {{ entry.blogBody }}
                <p class="post-meta">Posted by
                    <a href="#">{{entry.author}}</a>
                    on {{ entry.postDate | date("M d, Y")}}</p>
            </div>
            <hr>
            {% endfor %}
            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>

<hr>
{%  endblock %}